<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre Ley</th>
        <th scope="col">Descargar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>LEY DE HACIENDA MUNICIPAL DEL ESTADO DE OAXACA</td>
        <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>LEY ORGANICA MUNICIPAL VIGENTE</td>
        <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>CÓDIGO FISCAL MUNICIPAL DEL ESTADO DE OAXACA</td>
        <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
      </tr>
    </tbody>
  </table>