<div class="container">
  <br>
  <table class="table table-bordered table-hover table-primary">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Nombre Ley</th>
          <th scope="col">Descargar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>LEY DE HACIENDA MUNICIPAL DEL ESTADO DE OAXACA</td>
          <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
        </tr>
        <tr>
          <td>LEY ORGANICA MUNICIPAL VIGENTE</td>
          <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
        </tr>
        <tr>
          <td>CÓDIGO FISCAL MUNICIPAL DEL ESTADO DE OAXACA</td>
          <td><a href=""><i class="bi bi-file-earmark-pdf"></i> PDF</a></td>
        </tr>
      </tbody>
  </table>
</div> 