
<div class="container">
    <br>
    <table class="table table-bordered table-hover table-primary" >
        <thead>
          <tr class="table-secondary">
            <th scope="col">Nombre</th>
            <th scope="col">RMC</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Oscar Aragon Garcia</td>
            <td>GAOS1214151</td>
            <td>Calle conocida</td>
            <td>activo</td>
          </tr>
          <tr>
            <td>David Salvador Crespo </td>
            <td>DASO1255331</td>
            <td>Calle conocida</td>
            <td>activo</td>
          </tr>
        </tbody>
    </table>
  </div> 
