<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarLinea" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              linea de L
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLinea">
              <li><a class="dropdown-item" href="#">A724</a></li>
              <li><a class="dropdown-item" href="#">A725</a></li>
              <li><a class="dropdown-item" href="#">A726</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarContribuciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contribuciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarContribuciones">
              <li><a class="dropdown-item" href="#">Impuestos</a></li>
              <li><a class="dropdown-item" href="#">Derechos</a></li>
              <li><a class="dropdown-item" href="#">Apro</a></li>
              <li><a class="dropdown-item" href="#">produc</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ingresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Egresos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  