<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarLinea" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              linea de L
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLinea">
              <li><a class="dropdown-item" href="#">A724</a></li>
              <li><a class="dropdown-item" href="#">A725</a></li>
              <li><a class="dropdown-item" href="#">A726</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarContribuciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contribuciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarContribuciones">
              <li><a class="dropdown-item" > Impuestos &raquo; </a>
                <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item" href="#">Impuesto predial</a></li>
				         <li><a class="dropdown-item" href="#">Impuesto sobre traslado de dominio</a></li>
                 <li><a class="dropdown-item" href="#">Impuesto sobre fraccionamiento y fusión de bienes y muebles</a></li>
                 <li><a class="dropdown-item" href="#">Impuesto sobre rifas y sorteos, loterías y concursos</a></li>
                 <li><a class="dropdown-item" href="#">Impuesto sobre diversiones y espectáculos públicos</a></li>
                 <li><a class="dropdown-item" href="#">Accesorios &raquo; </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Multas</a></li>
                    <li><a class="dropdown-item" href="#">Recargos</a></li>
                    <li><a class="dropdown-item" href="#">Gastos de ejecución</a></li>
                  </ul>
                </li>
              </ul>
             </li>
              <li><a class="dropdown-item" href="#">Contribuciones de mejora</a></li>
              <li><a class="dropdown-item" href="#"> Derechos &raquo; </a>
                <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item" href="#">Mercados </a></li>
				         <li><a class="dropdown-item" href="#">Panteones </a></li>
                 <li><a class="dropdown-item" href="#">Rastro</a></li>
                 <li><a class="dropdown-item" href="#">Alumbrado público</a></li>
                 <li><a class="dropdown-item" href="#">Aseo público</a></li>
                 <li><a class="dropdown-item" href="#">Certificaciones, constancias y legalizaciones </a></li>
                 <li><a class="dropdown-item" href="#">Licencias y permisos </a></li>
                 <li><a class="dropdown-item" href="#">Licencias y refrendos de funcionamiento comercial, industrial y de servicios</a></li>
                 <li><a class="dropdown-item" href="#">Expedición de licencias para enajenación de bebidas alcohólicas </a></li>
                 <li><a class="dropdown-item" href="#">Permiso para anunciar y publicidad </a></li>
                 <li><a class="dropdown-item" href="#">Agua potable y drenaje sanitario </a></li>
                 <li><a class="dropdown-item" href="#">Servicio prestado por las autoridades de seguridad pública &raquo; </a>
                  <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Tránsito y vialidad</a></li>
                    <li><a class="dropdown-item" href="#">Por servicios de vigilancia</a></li>
                    <li><a class="dropdown-item" href="#">Control y evaluación</a></li>
                  </ul>
                </li>
                </ul>
              </li>

              <li><a class="dropdown-item" href="#"> Productos &raquo; </a>
                <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item" href="#">Derivado de bienes inmuebles </a></li>
				         <li><a class="dropdown-item" href="#">Derivado de bienes inmuebles e intangibles </a></li>
                 <li><a class="dropdown-item" href="#">Otros productos</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#"> Aprovechamiento &raquo; </a>
                <ul class="submenu dropdown-menu">
                 <li><a class="dropdown-item" href="#">Multas &raquo; </a>
                   <ul class="submenu dropdown-menu">
                     <li><a class="dropdown-item" href="#">Escándalos en vía pública</a></li>
                     <li><a class="dropdown-item" href="#">Quema de juegos pirotecnicos sin permiso</a></li>
                     <li><a class="dropdown-item" href="#">Grafiti</a></li>
                     <li><a class="dropdown-item" href="#">Hacer necesidades fisiológicas en vía pública</a></li>
                     <li><a class="dropdown-item" href="#">Tránsito municipal</a></li>
                     <li><a class="dropdown-item" href="#">Reintegros</a></li>
                     <li><a class="dropdown-item" href="#">Aprovechamiento por aportaciones y cooperaciones</a></li>
                     <li><a class="dropdown-item" href="#">Adjudicaciones judiciales y administrativas</a></li>
                   </ul>
                 </li>
              </ul>
             </li>
              
           
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Ingresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Egresos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="legislacion">Legislacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Control Interno</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  